

.briggs-pg-title {
    font-size: 21px;
    font-weight: 600;
}

.briggs-pg-title-thick {
    font-size: 21px;
    font-weight: 800;
}

.briggs-title-c {
    text-align: center;
    padding: 5px 0px;
}

.briggs-title-r {
    text-align: right;
    padding: 5px 15px;
}

.briggs-pg-btn {
    float: right;
    margin: 10px 0px 5px;
    padding-right: 0;
}

    .briggs-pg-btn i {
        margin-right: 10px;
    }

.briggs-content-box {
    border: 3px solid #000;
    min-height: 450px;
    margin: 5px 0;
    padding: 5px;
}

.briggs-box-square {
    border-radius: 1px;
}

.briggs-box-radius {
    border-radius: 10px;
}

.briggs-pg-footer {
    margin: 5px 0;
    border-top: 1px solid #555;
    padding: 5px;
    height: 50px;
    border-bottom: 1px solid #555;
    /*line-height: 35px;*/
}

.briggs-foot-cr {
    padding-top: 2px;
    font-size: 9px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

.briggs-foot-cr2 {
    margin-left: -72px;
}

.briggs-foot-fcode {
    padding-left: 0px;
    font-size: 11px;
    font-weight: bold;
    float: left;
    padding-right: 5px;
}

.briggs-foot-fname {
    font-size: 12px;
    padding: 5px 0px;
    font-weight: 600;
    float: right;
    line-height: 25px;
}

.briggs-sec-header {
    min-height: 25px;   
    line-height: 25px;
    margin-top: 0px;
}

.briggs-sec-hdr-black {
    background: #000;
}

.briggs-sec-hdr-gray {
    background: #dedcdc;
}

.briggs-header-txt {
    text-align: center;
    font-weight: 600;
}

.briggs-txt-b {
    color: #000;
}

.briggs-txt-w {
    color: #fff;
}

.briggs-sec-divider {
    border-top: 3px solid #000;
}


.briggs-fl {
    float: left;
}

.briggs-fr {
    float: right;
}

.briggs-no-pad {
    padding: 0px;
}

.briggs-no-pad-l {
    padding-left: 0px;
}

.briggs-no-pad-r {
    padding-right: 0px;
}

.briggs-pad-thin {
    padding: 3px;
}

.briggs-pad-thin-tb {
    padding: 3px 0px;
}

.briggs-pad-thin-lr {
    padding: 0px 3px;
}

.briggs-pad-thick {
    padding: 5px;
}

.briggs-pad-thick-tb {
    padding: 5px 0px;
}

.briggs-pad-thick-lr {
    padding: 0px 5px;
}

.briggs-pad {
    padding: 10px;
}

.briggs-pad-thick {
    padding: 10px 0px;
}

.briggs-pad-thick-lr {
    padding: 0px 10px;
}

.briggs-f-thick-md {
    font-weight: 600;
}

.briggs-f-thick {
    font-weight: 700;
}

.briggs-f-sm {
    font-size: 11px;
}

.briggs-f-xsm {
    font-size: 9px;
}

.briggs-f-md {
    font-size: 12px;
}



.briggs-txt-u-l {
    text-decoration: underline;
}

.briggs-brd {
    border: 5px solid #111;
}

.briggs-brd-l {
    border-left: 5px solid #111;
}

.briggs-brd-r {
    border-right: 5px solid #111;
}

.briggs-brd-t {
    border-top: 5px solid #111;
}

.briggs-brd-b {
    border-bottom: 5px solid #111;
}

.briggs-brd-thick {
    border: 3px solid #111;
}

.briggs-brd-thick-t {
    border-top: 3px solid #111;
}

.briggs-brd-thick-b {
    border-bottom: 3px solid #111;
}

.briggs-brd-thick-r {
    border-right: 3px solid #111;
}

.briggs-brd-thick-l {
    border-left: 3px solid #111;
}

.briggs-brd-thin {
    border: 1px solid #111;
}

.briggs-brd-thin-l {
    border-left: 1px solid #111;
}

.briggs-brd-thin-r {
    border-right: 1px solid #111;
}

.briggs-brd-thin-t {
    border-top: 1px solid #111;
}

.briggs-brd-thin-b {
    border-bottom: 1px solid #111;
}

.briggs-rds-thick-b-l {
    border-radius: 0px 0px 0px 15px;
}

.briggs-rds-thick-t-l {
    border-radius: 15px 0px 0px 0px;
}

.briggs-rds-thick-b-r {
    border-right: 3px solid #111;
    border-radius: 0px 0px 15px 0px;
}

.xt-thick-rds-t-r {
    border-radius: 0px 15px 0px 0px;
}

.briggs-control {
    height: 23px;
    font-size: 12px;
}

.briggs-control:hover{
	 border: 1px solid #000;
    background: transparent;
}

.briggs-control:focus{
	background: transparent;
}

.briggs-cntrl-grp {
    margin-top: 5px;
    margin-bottom: 5px;
}

.briggs-cont-row {
    margin-left: 0px;
    margin-right: 0px;
}

.briggs-col-offs {
    margin-left: 20px;
}

.briggs-mrg-thin-t{
    margin-top:5px;
}

.briggs-mrg-thick-t{
    margin-top:10px;
}
.briggs-mrg-t{
    margin-top:15px;
}

.briggs-mrg-b{
    margin-bottom:15px;
}

.briggs-mrg-b-thick{
    margin-bottom:10px;
}

.briggs-mrg-b-thin{
    margin-bottom:5px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .briggs-foot-cr2 {
        margin-left: -5px;
    }
}


.briggs-brd-thin-r-w{
    border-right:1px solid #ffffff;
}